img:hover{
 opacity: 70%;
 
}
.flex{
    display : inline-flex;
    justify-content: left;
    align-content:flex-start;
}
.header-name{
    top: 50px;
    left:25%;
    bottom: auto;
    display: block;
    font-family: inherit;
    position: absolute;
  
    font-weight: 400;
    line-height: 36px;
    color: #fff;
    margin: 0;
}