img:hover{
 opacity: 70%;
 
}
.flex{
    display : inline-flex;
    justify-content: left;
    align-content:flex-start;
}
.header-name{
   
    text-align: center;
    display: flex;
    font-family: inherit;
   
     
     margin:2rem;
    font-weight: 400;
   
    color: black;
   
}