.color{

    color: red;
    font-weight: bold ;
    font-family: cursive;
}
/* 
#navid{
    width: 100%;
}
.Navb{
     width: 100%;
    position: fixed;
    
   
} */

.footer{
    height: 10rem;
    background: rgb(186,192,255);
background: linear-gradient(90deg, rgba(186,192,255,1) 0%, rgba(0,8,144,1) 50%, rgba(118,187,255,1) 100%);

}
.copyright{
   font-size: 2rem;
   color:white; 
   justify-content:center;
   align-self: auto;  
   padding-top: 4rem;
   
  
}

.join{
    background-color: blue;
    color:white;

}
#login{
    color:blue;
}

/* .nav-pos{
    margin-top:0%;
    margin-left: 0%;
    margin-right: 0%;
    width:100%;
    z-index: 5;
    display:flex;
    position: fixed;
   
}

.Nav-align{
    display: flex;
} */
/* .Search{
 
     float:left ;
} */
.bannerdiv{
   
    height:100%;

}
.bannerhead{
    z-index:2;
    text-align: left;
    margin-top: 4em;
    float:left;
    margin-left:2em;
    color:white;
    font-size: 40px;
    font-weight: bold;
    position: relative;



}
.bannerbody{
    position: relative;
    z-index:2;
    text-align: left;
    margin-left:4em;
    display: flex;
    width: 50px;
    height: fit-content;
    color:white;
    font-size: 20px;
    font-weight: bold;
    



}



.banner{

    background-image:url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/hero-banner/robot-girl.jpg?auto=format%2Ccompress&dpr=1');

    background-position: 50%;
    background-size: cover;
    height: 500px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}



.btn-search{
     
     width:fit-content;
     height:40px;
     margin-top:2em;
     display: flex;
     margin-left: 5em;
     background-color: blue;
     color:white;
     font-family: 'Courier New', Courier, monospace;
     border-right-width: 0ch;
     position: relative;
    
}
.btn-search:hover{
    background-color: white;
    color:blue;
}
.background{
    background: linear-gradient(90deg,#271066,rgba(39,16,102,0) 55%,rgba(39,16,102,0) 70%,#271066);
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}











/*  Animation   */

.nav-pos{
    margin-top:0%;
    margin-left: 0%;
    margin-right: 0%;
    width:100%;
    z-index: 5;
    position: fixed;
   
}


nav{

    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height: 10vh;
    background-color: rgb(212, 212, 212);
    color:white;
  
  
  }
  .line{
    min-width:20px;
    min-height: 4px;
    background-color: white;
    margin-bottom: 2px;
  
  }
  .action{
    display: none;
    transition: 2s ease-in-out;
  }
  .link{
    text-decoration:none;
    color:white;
  }
  .nav-links{
    width: 40%;
    justify-content: space-around;
    display: flex;
    list-style: none;
    align-content: center;
    padding-top:15px;
    text-decoration: none;
    
  }
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

 


  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .hidden{
    display: none;
  }
  
  @media screen and (max-width: 768px) {
      #login{display:none;

      }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .action{
      display: inline;
    }
    .nav-links{
        display:none;
    }
    
  }
  

